<meta charset="UTF-8">
<title>Transactions in sequelize</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/static/styles.css">
<style>
  body { padding-top:50px; }
</style>

<link rel="stylesheet" href="/static/a11y-dark.css">
<script src="/static/highlight.min.js"></script>
<script src="/static/typescript.min.js"></script>

<script>hljs.highlightAll();</script>