

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<main>
  <div>
    <h1>with and without transaction</h1>
    <%- content %>
  </div>
</main>

</body>
</html>
